.wrapper {
  height: 100vh;
  background-color: #f3f4f5;
  overflow: auto;
}

.swap-box {
  padding: 20px 17px 60px;
  .column {
    margin: 15px 0;
  }
  .avatar {
    width: 36px;
    height: 36px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: #fff;
    background-size: 100%;
    background-position: center;
    &.client {
      background-image: url('./../assets/client.png');
    }
    &.service {
      background-image: url('./../assets/service.png');
    }
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
  .bubble {
    display: inline-block;
    position: relative;
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 5px;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 14px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
    }
    &.left {
      margin-left: 20px;
      background-color: #fff;
      &:before {
        left: -12px;
        border-right-color: #fff;
      }
    }
    &.right {
      margin-right: 20px;
      float: right;
      background-color: lightgreen;
      &:after {
        right: -12px;
        border-left-color: lightgreen;
      }
    }
  }
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 17px;
  border-top: 1px solid #eee;
  background-color: #fafafa;
  .reply {
    flex: 1;
    padding: 10px 5px;
    border: 1px solid #eee;
    border-radius: 5px;
  }
  button {
    width: 80px;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #00d30f;
    color: #fff;
    transition: all .2s ease;
    &:hover {
      opacity: .9;
    }
    &:active {
      opacity: .8;
    }
  }
}

.list {
  padding: 20px 17px 10px;
  .issue {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    .user {
      padding-bottom: 5px;
      border-bottom: 1px solid #eee;
    }
    .content {
      padding: 5px 0;
      border-bottom: 1px solid #eee;
    }
    .status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5px;
      color: #666;
      button {
        padding: 5px 10px;
        border: 1px solid #ccc;
        background-color: #f3f4f5;
        font-size: 12px;
      }
    }
  }
}
